@use "../../_foundation" as f;

.c-hamburger {
  width: 40px;
  cursor: pointer;
  &__line {
    display: block;
    background-color: f.$color-main;
    width: 22px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-in;
    &:nth-child(2) {
      margin-top: 4px;
    }
  }
  &__txt {
    color: f.$color-main;
    font-size: 1.4rem;
    font-weight: f.$W4;
    @include f.robot;
  }
}

.is-open {
  .c-hamburger {
    &__line {
      transform: translateY(2px) rotate(-225deg);
      &:nth-child(2) {
        transform: translateY(-6px) rotate(225deg);
      }
    }
  }
}
